
.cart-outer{
    position: fixed;
    top: 13vh;
    right: 2vw;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(122, 122, 136, 0.9);
    box-sizing: border-box;
}

#myCart{
    width: max-content;
    height: max-content;
    background-color: rgba(122, 122, 136, 0.9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    box-shadow: 5% 5% 15px white;
    box-sizing: border-box;
    border-style: double;
    border-color: white;
}

#myCart h1 {
    border-style: double;
    border-radius: 20px;
    padding: 0.5ch 2ch;
    border-color: #00001a;
    background-color: #00001a;
    margin: 0.75ch 3ch;
}
#myCart h1 span{
    color: #FFED00;
}

#myCart ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#myCart li{
    margin-bottom: 10px;
    font-size: 1.07rem;
}


@media screen and (max-width: 800px) {
    div.myCart-low#myCart {
        top: 38.5vh;
    }
}


@media screen and (max-width: 650px) {
    div.myCart-low#myCart {
        top: 34vh;
    }
}


@media screen and (max-width: 460px) {
    div.myCart {
        right: auto;
    }

    div.myCart-low#myCart {
        top: 30vh;
    }
}
