
.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 1vh;
}

section{
    min-height: 100vh;
    display: grid;
    align-items: center;
    padding-top: 5%;
}
section#Intro{
    padding-top: 0;
}
.section-header{
    background-color: white;
    justify-self: center;
    width: 90vw;
    height: 10vh;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 4ch;
    border-radius: 60px;
    opacity: 70%;
    margin: 2vh 0;
}

.search-bar{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}
.search-bar input{
    width: 45vw;
    padding: 0.5% 2ch;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(0, 0, 26);
    color: white;
    font-size: 1.2em;
    border-color: white;
}
.search-bar button{
    padding: 0.5% 0;
    width: 5vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.1em;
    border-color: white;
}
.search-bar button:hover{
    scale: 1.2;
}


@media screen and (max-width: 920px) {
    .search-bar input{
        width: 55vw;
    }
    .search-bar button{
        width: 10vw;
    }
}


@media screen and (max-width: 460px) {
    .search-bar input{
        width: 70vw;
    }
    .search-bar button{
        width: 15vw;
    }

    section{
        padding-top: 10vh;
    }

    .section-header{
        font-size: 2.5ch;
    }
}